:root {
	--app-height: 100%;
}

.overlay {
	background: #001489;
	height: 100vh;
	height: var(--app-height);
	left: 0;
	opacity: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	transform: scale(.7);
	transition: all .1s ease-in-out;
	width: 100vw;
	z-index: -1;
}

.overlay {
	opacity: 1;
	overflow-x: hidden;
	transform: scale(1);
	z-index: 99990;
}

@media (min-width: 1176px) {
	.overlay {
		background: url(/media/dele/data/src/learn-odoo/custom/lkd_login/static/src/img/background_login.png);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.overlay--lkd {
	background-color: #001489;
}







